# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


# gitignores for MS_starter project 
# dependencies
MS_starter/node_modules
MS_starter/.pnp
MS_starter/.pnp.js

# testing
MS_starter/coverage

# production
MS_starter/build

# misc
MS_starter/.DS_Store
MS_starter/.env.local
MS_starter/.env.development.local
MS_starter/.env.test.local
MS_starter/.env.production.local

MS_starter/npm-debug.log*
MS_starter/yarn-debug.log*
MS_starter/yarn-error.log*


# gitignores for todolist project 
todolist/node_modules
todolist/.pnp
todolist/.pnp.js

# testing
todolist/coverage

# production
todolist/build

# misc
todolist/.DS_Store
todolist/.env.local
todolist/.env.development.local
todolist/.env.test.local
todolist/.env.production.local

todolist/npm-debug.log*
todolist/yarn-debug.log*
todolist/yarn-error.log*
